name: Build React and Deploy to GitHub Pages

on:
  push:
    branches:
      - development

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout development
        uses: actions/checkout@v4
        with:
          ref: development

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build React
        run: npm run build

      - name: Add CNAME for custom domain
        run: echo "www.marcosbustamantemateo.com" > CNAME

      - name: Deploy to master
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git fetch origin
          git checkout --orphan master
          git rm -rf .

          mv dist/* .
          rm -rf dist

          git add .
          git commit -m "Deploy production build"
          git push -f origin master
